@import "tailwindcss";

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@custom-variant dark (&:where(.dark, .dark *));

.toggle-checkbox:checked {
  right: 0;
  top: 4px;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: var(--color-slate-800);
}

body.font-sans {
  font-family: "Sans", sans-serif;
}

body.font-serif {
  font-family: "Serif", serif;
}

body.font-mono {
  font-family: "Mono", monospace;
}
