@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@custom-variant dark (&:where(.dark, .dark *));

.toggle-checkbox:checked {
  right: 0;
  top: 4px;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: gray-300;
}

/* Estilos para las fuentes */
body.font-sans {
  font-family: 'Sans', sans-serif;
}

body.font-serif {
  font-family: 'Serif', serif;
}

body.font-mono {
  font-family: 'Mono', monospace;
}